div.Vote-details-container {
  width: 0 auto;
  background-color: white;
  margin-top: 0.8rem;
  display: flex;
  flex-flow: column nowrap;
}

label {
  margin-left: 1rem;
}

label.description {
  color: #a0a0a0;
  font-size: 0.9rem;
}