.App {
  text-align: center;
}

.Items {
  padding-top: 1.5rem;
  margin: 0 auto;
}

div.Button {
  width: 0 auto;
  text-align: center;
  color: white;
  background-color: #1aad19;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-style: none;
}

div.Button:active {
  background-color: #159214;
}